<style>
  .container{ flex-direction: column; display: flex; align-items: center;
  font-family: Arial, Helvetica, sans-serif; width: 80%; } span { margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" />
  <h1>Recuperação de senha</h1><br />
  <span>Oi, {{name}}</span><br />
  <span>Você solicitou uma alteração de senha</span><br />
  <span>Para realizar a troca para uma nova senha, clique no
    <strong>link</strong>:<br /><br />
    <a href={{link}}>{{link}}</a>
  </span><br />
  <span>Caso não tenha solicitado basta ignorar esse e-mail</span><br />
  <strong>Obrigado</strong><br />
  <h3>Equipe | <strong>RentX</strong></h3>
</div>